.album__art {
height: auto;
width: 100%;
transform: perspective(1000px) translateZ(0px) translateX(0px) translateY(0px) rotateY(0deg);
transform-origin: left;
box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
transition: all 0.4s ease-in-out;
}

.album-tile:hover .album__art {
  transform: perspective(1000px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-60deg);
  box-shadow: 23px 1px 12px rgba(0, 0, 0, 0.4)
}

.album__art-link {
  display: block;
  background-color: #d3d3d3;
  // background-image: url("../../server/public/images/lp-image.png");
  background-image: url("https://vinylbase.s3-ap-southeast-2.amazonaws.com/images/lp-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

dt {
  font-weight: 600;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;

}

.album-tile {
  flex: 0 0 100%;
  padding: 1rem;
  width: 100%;

  @media screen and (min-width: 640px) {
    flex: 0 0 33%;
  }

  @media screen and (min-width: 1200px) {
    flex: 0 0 20%;
  }

  &__name {
    background-color: #d3d3d3;
    text-align: center;
    margin: 0;

    a{
      color: #222;
      text-decoration: none;
      display: block;
      padding: 0.4rem;
    }
  }
}



.album-media {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.album-media__block {
  flex: 0 0 100%;
  padding: 1rem;
}

@media screen and (min-width: 800px) {
  .album-media__block {
    flex: 0 0 33%;
  }
}

.album-media__block--media>iframe {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .album-media__block--media>iframe {
    height: 100%;
  }
}