.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  &__inner {
    background-color: #fff;
    padding: 2.4rem;
  }

  &__title {
    margin-top: 0;
  }

  &__description {
    margin-top: 0;
  }
}