.nav {
  margin: 0;
  display: inline;

  &__item {
    border-radius: 0.4rem 0.4rem 0 0;
    margin-right: 0.4rem;
    display: inline-block;
    line-height: 2.6rem;
    padding: 0 2rem;
    background-color: #1579e0;
    color: white;
    text-decoration: none;
    &:hover {
      background-color: lighten(#1579e0, 10%)
    }
    &--active {
      background-color: #ffffff;
      color: #222;
      &:hover {
        background-color: #ffffff;
      }
    }
    .nav--account & {
      margin-right: 0;
      margin-left: 0.4rem;
      border-radius: 0.4rem;
      line-height: 2.4rem;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
